.stack-work/

*.aux
*.log
*.synctex.gz

*~

**/.idea/

**/target/

*.iml

**/dist/
**/dist-newstyle/

*_flymake.*

**/compiled/
**/.cabal
**/.bloop
**/.metals
**/.bsp
**/.vscode
.ghc.environment.aarch64-linux-8.10.7
